 <div class="body-inner">
    <!-- Header -->
    <header id="header" data-fullwidth="true">
        <div class="header-inner">
            <div class="container">
                <!--Logo-->
                <div id="logo">
                    <a routerLink="/home">
                        <img src="assets/images/logo.png" class="logo-default">
                    </a>
                </div>
                <!--End: Logo-->
                <!--Header Extras-->
                <app-language></app-language>
                <!--end: Header Extras-->
                <!--Navigation Resposnive Trigger-->
                <div id="mainMenu-trigger"> <a class="lines-button x"><span class="lines"></span></a> </div>
                <!--end: Navigation Resposnive Trigger-->
                <!--Navigation-->
                <app-menu></app-menu>
                <!--end: Navigation-->
            </div>
        </div>
    </header>
    <!-- end: Header -->
<section id="page-content" class="sidebar-right">
  <div class="container">
                <div class="row">
                <!-- post content -->
                <div class="content col-lg-9">
                    <!-- Page title -->
                    <div class="page-title">
                        <div class="breadcrumb float-left">
                            <ul>
                                <li><a href="#">Accueill</a>
                                </li>
                                <li><a href="#">News</a>
                                </li>
                            </ul>
                        </div>
                    </div>
               </div>
            </div>


    <!-- Documentaires école -->
    <div class="heading-text heading-section text-center">
      <h2>Documentaires école</h2>
    </div>

    <div class="carousel-wrapper">
      <button class="carousel-btn left" (click)="scrollLeft(docDeck)">‹</button>
      <div #docDeck class="card-deck">
        <div class="card" *ngFor="let item of documentaires">
          <ng-container *ngIf="item.image">
            <img class="card-img-top" [src]="item.image" [alt]="item.title">
          </ng-container>
          <ng-container *ngIf="item.video">
            <div class="video-wrapper">
              <iframe [src]="getSafeUrl(item.video)" frameborder="0" allowfullscreen></iframe>
            </div>
          </ng-container>
          <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            <p class="card-text" [innerHTML]="formatDescription(item.description)"></p>
          </div>
          <div class="card-footer">
            <small><i class="fa fa-calendar-o"></i> {{ item.date | date:'mediumDate' }}</small>
            <span class="badge">{{ item.category }}</span>
          </div>
        </div>
      </div>
      <button class="carousel-btn right" (click)="scrollRight(docDeck)">›</button>
    </div>

    <!-- Concours lancer -->
    <div class="heading-text heading-section text-center" style="margin-top:50px;">
      <h2>Concours lancer</h2>
    </div>

    <div class="carousel-wrapper">
      <button class="carousel-btn left" (click)="scrollLeft(concDeck)">‹</button>
      <div #concDeck class="card-deck">
        <div class="card" *ngFor="let item of concours">
          <ng-container *ngIf="item.image">
            <img class="card-img-top" [src]="item.image" [alt]="item.title">
          </ng-container>
          <ng-container *ngIf="item.video">
            <div class="video-wrapper">
              <iframe [src]="getSafeUrl(item.video)" frameborder="0" allowfullscreen></iframe>
            </div>
          </ng-container>
          <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            <p class="card-text" [innerHTML]="formatDescription(item.description)"></p>
          </div>
          <div class="card-footer">
            <small><i class="fa fa-calendar-o"></i> {{ item.date | date:'mediumDate' }}</small>
            <span class="badge">{{ item.category }}</span>
          </div>
        </div>
      </div>
      <button class="carousel-btn right" (click)="scrollRight(concDeck)">›</button>
    </div>

  </div>
</section>

   <app-footer></app-footer>
    <!-- end: Footer -->
</div> <!-- end: Body Inner -->
<!-- Scroll top -->
<app-scroll-top></app-scroll-top>