<div class="body-inner">

  <!-- Header -->
  <header id="header" data-fullwidth="true">
    <div class="header-inner">
      <div class="container">
        <div id="logo">
          <a routerLink="/home">
            <img src="assets/images/logo.png" class="logo-default">
          </a>
        </div>
        <app-language></app-language>
        <div id="mainMenu-trigger"> <a class="lines-button x"><span class="lines"></span></a> </div>
        <app-menu></app-menu>
      </div>
    </div>
  </header>

  <!-- Slider -->
  <div id="slider" class="inspiro-slider dots-creative" data-height-xs="360">
    <div class="slide kenburns" style="background-image:url('assets/images/formations/ata.jpg');">
      <div class="bg-overlay"></div>
      <div class="container">
        <div class="slide-captions text-center text-light">
          <h1>{{ 'formation.title' | translate }}</h1>
        </div>
      </div>
    </div>
  </div>

 <!-- Formations Section -->
<section>
  <div class="container">
    <div class="heading-text heading-section text-center">
      <h2>{{ 'service.what_we_do' | translate }}</h2>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="card-deck">

          <div class="card" *ngFor="let formation of formations">
            <img class="card-img-top" [src]="formation.img" alt="Card image cap">

            <div class="card-body">
              <h5 class="card-title">{{ formation.title | translate }}</h5>
              <p class="card-text">{{ formation.desc | translate }}</p>
            </div>

            <div class="card-footer" style="font-weight:bold;">
              <small style="color:red;">
                ⏱ {{ 'formation.duree' | translate }} : {{ formation.duree }}
              </small>&nbsp;

              <button *ngIf="formation.showParcoursBtn"
                      [routerLink]="formation.parcoursLink"
                      class="btn btn-dark btn-xs">
                <i class="icon-award"></i> Parcours
              </button>

              <button [routerLink]="formation.admissionLink"
                      class="btn btn-xs">
                Admission
              </button>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>


  <!-- Footer -->
  <app-footer></app-footer>
</div>

<app-scroll-top></app-scroll-top>
