<!-- PARTNERS / CLIENTS -->
<section id="partners">
  <div class="container">

    <!-- Titre et slogan -->
    <div class="heading-text heading-section text-center">
      <h2>{{ 'partner.title' | translate }}</h2>
      <p class="slogan">Nos partenaires officiels qui ont décidé de nous faire confiance et de s’affilier à nous.</p>
    </div>

    <!-- Grille des partenaires -->
    <ul class="grid">
      <li *ngFor="let partner of partners">
        <a [href]="partner.url" target="_blank" [title]="partner.name">
          <img [src]="partner.logo" [alt]="partner.name">
        </a>
      </li>
    </ul>

  </div> <!-- container -->
</section>
